<div class="container">
	<div class="block-header">
		<div class="row clearfix">
			<div class="col-sm-12 col-md-5 col-lg-7">
				<h3>GithubViewer</h3>
			</div>
			<div class="col-sm-12 col-md-7 col-lg-5">
				<form name="repositorySearch" ng-submit="repositorySearch.$valid && $ctrl.submit()">
					<div class="input-group pull-right search">
						<input 
							type="text" 
							class="form-control search-bar" 
							placeholder="search"
							ng-model="$ctrl.searchTerm"
							required>
						<span class="input-group-btn">
							<button class="btn btn-default search-btn" type="submit">Go!</button>
						</span>
					</div>
					</form>
			</div>
		</div>
	</div>
</div>
