<div class="header">
		<div class="container">
			 <div class="block-header">
					<div class="row clearfix">
						 <div class="col-sm-12 col-md-5 col-lg-7">
								<h3 class="header-title">GithubViewer</h3>
						 </div>
						 <div class="col-sm-12 col-md-7 col-lg-5">
								<form name="repositorySearch" ng-submit="repositorySearch.$valid && $ctrl.submit()">
									 <div class="input-group pull-right search">
											<input 
												 type="text" 
												 class="form-control search-bar" 
												 placeholder="search"
												 ng-model="$ctrl.searchTerm"
												 required>
											<span class="input-group-btn">
											<button class="btn btn-default search-btn" type="submit">Go!</button>
											</span>
									 </div>
								</form>
						 </div>
					</div>
			 </div>
		</div>
 </div>
 <error-handler show-error="$ctrl.shouldShowError" error-message="$ctrl.errorMessage"></error-handler>
 <div class="container display-cards" ng-if="$ctrl.repository">
		<div class="card text-center">
			 <div class="card-header">
					<h2>{{$ctrl.repository.name}}</h2>
			 </div>
			 <div class="card-body">
					<h5 class="card-title">
						 <img ng-src={{$ctrl.repository.avatar}} height="200" width="200">
					</h5>
					<p class="card-text">{{$ctrl.repository.description}}</p>
					<a ng-href={{$ctrl.repository.url}} class="btn btn-primary" target="_blank">Go to repository</a>
			 </div>
			 <div class="card-footer text-muted">
					<button type="button" class="btn btn-info">Forks
					<span class="badge badge-light">{{$ctrl.repository.forksCount}}</span>
					<span class="sr-only">unread messages</span>
					</button>
					<button type="button" class="btn btn-info">Open Issues
					<span class="badge badge-light">{{$ctrl.repository.openIssuesCount}}</span>
					<span class="sr-only">unread messages</span>
					</button>
					<button type="button" class="btn btn-info">Stargazers
					<span class="badge badge-light">{{$ctrl.repository.stargazersCount}}</span>
					<span class="sr-only">unread messages</span>
					</button>
			 </div>
		</div>
 </div>
 <display-issues issues="$ctrl.allIssues"></display-issues>
 <nav ng-if="$ctrl.allIssues" aria-label="Page navigation example">
		<ul class="pagination justify-content-center">
			 <a class="page-link" href="#" ng-click="$ctrl.setIssues()">Show More</a>
			 </li>
		</ul>
 </nav>
 <div class="container chart-container">
		<div class="card chart-card" ng-if="$ctrl.repository">
			 <h5 class="card-header">Featured charts</h5>
			 <div class="card-body">
					<h5 class="card-title"></h5>
					<p class="card-text">About {{$ctrl.repository.forksCount}} impressive forks.</p>
					<div class="charts">
						 <canvas 
								id="pie" 
								class="chart chart-pie"
								chart-data="data" 
								chart-labels="labels" 
								chart-options="options">
						 </canvas>
					</div>
			 </div>
		</div>
 </div>
 <charts style="width:100%" forks-count="$ctrl.repository.forksCount" open-issues="$ctrl.repository.openIssuesCount" stargazers="$ctrl.repository.stargazersCount"></charts>